.layout-cabecalho {
  height: 80px;
  border: 1px solid #ccc;
  line-height: 100px;
}

.layout-cabecalho--position {
  background-color: #e7e7e7;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
}
@media (max-width: 768px) {
  .layout-planos .row > div:not(:last-child) {
    margin-bottom: 40px;
  }
}

.layout-planos {
  padding: 80px 0;
}

.layout-principal {
  padding: 80px 0;
  background-color: gray;
}

.layout-depoimento {
  padding: 80px 0;
  background-color: #e7e7e7;
}

.layout-rodape {
  padding: 40px 0;
  background-color: #ccc;
  color: black;
  text-align: center;
  margin-top: 5px;
}
